@(form: Form[LoginForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

<html>

<head>
    <title>Login</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned(" images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned(" stylesheets/login.css")">
</head>

<body>
    <div>
        <!--TODO: Login endpoint needs to be different from the view.-->
        @helper.form(postUrl) {
        @helper.CSRF.formField
        @helper.inputText(form("email"))
        @helper.inputText(form("password"))
        <button>Login</button>
        }
    </div>
    <a href="@routes.HomeController.index()" id="logo">Back Home</a>
</body>

</html>